<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary" aria-current="true">
          <h2>Pendente</h2>
        </li>
        <li class="list-group-item">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo1"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                <div
                  class="d-flex w-100 justify-content-between align-items-center"
                >
                  <h5 class="mb-1">Mesa 10</h5>
                  <span class="badge text-bg-primary">10:23</span>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <button type="button" class="btn btn-primary">P</button>
                    <button type="button" class="btn btn-success">E</button>
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapseTwo1"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body mt-2">
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="badge text-bg-primary rounded-pill">1</span>
                    <label class="form-check-label" for="firstCheckbox"
                      >X - tudo</label
                    >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic mixed styles example"
                    >
                      <button type="button" class="btn btn-primary">P</button>
                      <button type="button" class="btn btn-success">E</button>
                    </div>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="badge text-bg-primary rounded-pill">1</span>
                    <label class="form-check-label" for="firstCheckbox"
                      >X - tudo</label
                    >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic mixed styles example"
                    >
                      <button type="button" class="btn btn-primary">P</button>
                      <button type="button" class="btn btn-success">E</button>
                    </div>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="badge text-bg-primary rounded-pill">1</span>
                    <label class="form-check-label" for="firstCheckbox"
                      >X - tudo</label
                    >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic mixed styles example"
                    >
                      <button type="button" class="btn btn-primary">P</button>
                      <button type="button" class="btn btn-success">E</button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning" aria-current="true">
          <h2>Em andamento</h2>
        </li>
        <li class="list-group-item">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                <div
                  class="d-flex w-100 justify-content-between align-items-center"
                >
                  <h5 class="mb-1">Mesa 10</h5>
                  <span class="badge text-bg-primary">10:23</span>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic mixed styles example"
                  >
                    <button type="button" class="btn btn-primary">P</button>
                    <button type="button" class="btn btn-success">E</button>
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body mt-2">
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="badge text-bg-primary rounded-pill">1</span>
                    <label class="form-check-label" for="firstCheckbox"
                      >X - tudo</label
                    >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic mixed styles example"
                    >
                      <button type="button" class="btn btn-primary">P</button>
                      <button type="button" class="btn btn-success">E</button>
                    </div>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="badge text-bg-primary rounded-pill">1</span>
                    <label class="form-check-label" for="firstCheckbox"
                      >X - tudo</label
                    >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic mixed styles example"
                    >
                      <button type="button" class="btn btn-primary">P</button>
                      <button type="button" class="btn btn-success">E</button>
                    </div>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span class="badge text-bg-primary rounded-pill">1</span>
                    <label class="form-check-label" for="firstCheckbox"
                      >X - tudo</label
                    >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic mixed styles example"
                    >
                      <button type="button" class="btn btn-primary">P</button>
                      <button type="button" class="btn btn-success">E</button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
