<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" >
            <ion-icon name="cart" size="large"> </ion-icon>
            <ion-badge color="success">
                {{ quantidadeTotalItens() }}
            </ion-badge>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngFor="let item of mesaSelecionada?.itens">
        <app-produto [produto]="item"></app-produto>
    </ion-list>
</ion-content>

<ion-list lines="none">
    <ion-item>
        <ion-icon slot="start" name="wallet" size="large"></ion-icon>
        <ion-label> R$ {{ valorTotalItens() }} </ion-label>
    </ion-item>
    <ion-button expand="full" (click)="getProdutos()">Adicionar</ion-button>
</ion-list>
